body { 
    background-color: #1eaae6;
        font-family: "Courier New", Courier, monospace;
    } 

p {
    color: white;
    font-size: 200%;
    }
p:hover {
    color:red
}


div {
    border-style: groove;
    border-color: transparent;
    border-radius: 10px;
}    

#title {
    margin: auto;
    border-color: transparent;
    transform: skew(-25deg);
    animation-name: titlemove;
    position: relative;
    animation-duration: 1.1s;
    animation-fill-mode: forwards;
    animation-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes titlemove {
    from {right:800px; top:0px;}
    to {right:0px; top:0px;}
}



#main {
    background-color: #200730;
    text-align: center;
    font-size: small;
    width: 50%;
    margin: auto;
    border-color: black;
    

}

.smileyimage {
    position: relative;
    transform: scale(0.8);
    animation: smileybounce 1s ease-in forwards infinite;

}





@keyframes smileybounce {
    0% {transform: scale(0.8)}
    50% {transform: scale(1.0)}
}


    #wholegame {
        border-color: transparent;
        display:none;
        
       
    }

    #intropage {
        font-size: xx-large;
        transform: translateX(300px);
        transform: translateY(-60px);
        text-align: center;
        border-color: transparent;
        
        
    }


#smileydiv {
    background-color: #071233;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border-color: black;

    
    
}
#footer {
    background-color: #d97e29;
    width: 25%;
    text-align: center;
    font-size: x-small;
    right: 0;
    bottom: 0;
    position: absolute;
    
}
#container {
    width: 75%;
    margin: auto;
    border-color: transparent;

}

.game-container {
    display:flex;
    position: relative;
    border-color: transparent;
}

#scoretitle {
    background-color:#071233;
    color: white;
    margin: auto;
    width: 20%;
    text-align: center;
    position: absolute;
    left: 75%;
    height: 518px;
    border-color: black;

}

#scoretitle:hover {
    color:red
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear: both;

  }
  
  #socials {
    background-color: #1E1D30;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    font-size: small;
    border-color: black;
  }

  #leaderboards {
    position:absolute;
    height: 175px;
    width: 20%;
    text-align: center;
    left: 96%;
    background-color:#071233;
    transform:translateY(80%);
    padding: 40px, 30px;
    cursor: pointer;
    border-color: black;

  }

  #playnow {
    height: 50px;
    width: 20%;
    position: absolute;
    background-color: #f2c12e;
    font-size: xx-large;
    color: #071233;
    left: 50%;
    transform:translate(-100%, 1450%)skew(-10deg); /*Not sure why I have to use very different percent values here. MOBILE FRIENDLY PLZZZ */
    cursor:pointer;
    
  }

  #howtoplay {
    height: 50px;
    width: 20%;
    position: absolute;
    background-color: #f2c12e;
    font-size: xx-large;
    color: #071233;
    left: 50%;
    transform:translate(25%, 1450%)skew(-10deg);      /*Not sure why I have to use very different percent values here compared to above*/
    cursor:pointer;
  }

  #highscores {
    display:none;
    text-align: center;
    width: 40%;
    position:absolute;
    left: 50%;
    transform:translateX(-50%);
    font-size:x-large;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-top: 2%;
    padding-right: 5%;
    
  }
  
  .smileyimage2 { /* I want to make it so this image pulsates after the initial warp-in animation*/
    position: absolute;
    animation: smileyrotate 2s ease-in-out forwards;
   transform: rotate(0deg) scale(0%) translateY(0%);
   border-color: transparent;
   animation-delay: 2s;

}

@keyframes smileyrotate {
   
    100%  {transform: rotate(360deg) scale(70%) translateY(50%);}
   
}

#smileyimage2 {
    transform: translate(-10%, 0%);
    
    
}

    .beat-image {
    border-color: transparent;
    transform:translate(250%);
    animation: slidein 1s ease-in-out forwards;
    animation-timing-function: linear(0 0%, 0.95 13.27%, 1 100%);
    position: relative;
    

  }

  @keyframes slidein {
    0% {transform:translate(-1000%)}
    100%{transform:translate(-50%);}
  }
  .sync-image {
    border-color: transparent;
    transform:translate(1000%);
    right: 50%;
    animation: slidein2 1s forwards;
    animation-delay: .80s;
    animation-timing-function: linear(0 0%, 0.95 13.27%, 1 100%);

  }

  @keyframes slidein2 {
    0% {transform:translate(1000%)}
    100%{transform:translate(50%,-110%)}
  }

  .challenge-image {
    border-color: transparent;
    transform: scale(0%);
    animation: warpin 1s forwards;
    animation-delay: 1.75s;
  }

  #challengeimage {
    transform:translateY(-100%);
  }

  @keyframes warpin {
    0% {transform:scale(0%)}
    50% {transform:scale(120%)}
    100% {transform:scale(100%)}
  }